Graphics.vcxproj.user
Graphics.vcxproj.filters
Debug/vc141.idb
Debug/hw.obj
Debug/Graphics.tlog/Graphics.lastbuildstate
Debug/Graphics.tlog/CL.write.1.tlog
Debug/Graphics.tlog/CL.read.1.tlog
Debug/Graphics.log
resource.h
Graphics.aps
Debug/vc141.pdb
Debug/Graphics.tlog/link.command.1.tlog
Debug/Graphics.tlog/Graphics.write.1u.tlog
Debug/Graphics.tlog/CL.command.1.tlog
Graphics.vcxproj
Graphics.rc
Debug/Graphics.tlog/link.read.1.tlog
Debug/Graphics.tlog/link.write.1.tlog
